{
  "sourceRepository": {
    "repoOwner": "MyFirstOwner",
    "repoName": "MyFirstRepoName",
    "accessToken": "11111111111111111111111111111111111"
  },
  "destinationRepository": {
    "repoOwner": "MySecondOwner",
    "repoName": "MySecondRepoName",
    "accessToken": "11111111111111111111111111111111111"
  }, 
  "options" : {
    "method" : "all", 
    "labels" : ["frontend"], 
    "issueNumbers" : [27, 28], 
    "stickyUsers" : false, 
    "closeIssueWhenComplete" : false
  }, 
  "mappings" : {
    "priorities" : [
      {"source": "prioritya", "destination": "Highest"},
      {"source": "priority a", "destination": "Highest"},     
      {"source": "priorityb", "destination": "High"},     
      {"source": "priority b", "destination": "High"},     
      {"source": "priorityc", "destination": "Low"},     
      {"source": "priority c", "destination": "Low"}    
    ], 
    "types" : [
      {"source": "design", "destination": "Design"},
      {"source": "bug", "destination": "Bug"},
      {"source": "task", "destination": "Development"}
    ], 
    "users: [
      {"source": "first-username", "destination" : "second-username","destinationName":"John Doe"} 
    ]
  }
}




